textarea {
    width: 100%;
    font-size: inherit;
    border-radius: 10px;
    border-style: solid;
    background-color: rgb(23, 23, 23);
    resize: none;
    overflow: hidden;
}

.input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}