.input-container {
    width: 100%;
    margin-top: 5px;
    padding-left: 0;
    margin-bottom: 5px;
}

.input {
  font-size: 15px;
}

.one-line {
  min-height: 20px;
}

.multi-line {
  min-height: auto;
}