
.button {
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ease;
  height: 35px;
  width: 80px;
  text-align: center;
  background-color: inherit;
  border: none;
  font-size: 16px;
}
.button:hover {
  color: rgb(150, 150, 150);
  /* font-weight: bold; */
  cursor: pointer;
  border: solid;
}

.boldText {
  font-weight: bold;
}
