
.button {
  all: unset;
  color: inherit;
  text-decoration: none;
  transition: color 0.1s ease;
  padding: 0;
  margin: 0;
}
.button:hover {
  all: unset;
  color: rgb(150, 150, 150);
  font-weight: bold;
  cursor: pointer;
}

button:focus {
  outline: none;
}
button:focus-visible {
  outline: 2px solid blue; /* or keep it styled for keyboard users */
}

.boldText {
  font-weight: bold;
}
