.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 10vw;
  padding-right: 10vw;
  overflow-y: auto;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-grow: 1;
}

textarea {
    width: 100%;
    border-style: solid;
    background-color: rgb(23, 23, 23);
    resize: none;
    font-family: inherit;
}
