#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 100%;
  
  padding-left: 10vw;
  padding-right: 10vw;
  overflow-y: auto;
}

.content-container {
  width: 100%;
  height: 100%;
}
