:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}