:root {
  font-family: Arial;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #171717;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
}